.claude/
.mcp.json
PRPs/
.serena/
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.bmp
**/*.tiff
**/*.webp
**/*.svg
**/*.ico
out*/
demo*/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
build/
dist/
*.egg-info/
